In [4]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

### Adjust url to loop between 2003 and 2017 and retrieve info using html attributes.

#### Save to dicts where each key is a year and every value is the pandas DF.

In [41]:
info_list = []
dicts = {}
years = [2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
for year in years:
#try clause to skip any companies with missing/empty board member tables

#loop through table
    info_list = [] 
    base_url = f'https://kenpom.com/index.php?y={year}'
    response = requests.get(base_url)
    soup = BeautifulSoup(response.text, 'html.parser')
    data_table = soup.find('table', {"id" : "ratings-table"})
    for row in data_table.find_all('tbody'):
        for thing1 in row.find_all('tr'):
            cols = thing1.find_all('td')
            if len(cols) != 21:
                continue
            else:
                info_list.append(([cols[num].text.strip() for num in range(0,21)]))
    rankings = np.asarray(info_list)
    df = pd.DataFrame(rankings)
    #rename columns, check output
    df.columns = list(map(str, range(0,21)))
    good_cols = list(map(str, [0,1,2,3,4,5,7,9,11,13,15,17,19]))
    df = df[good_cols]
    columns = ['Rk','Team', 'Conf', 'W-L',  'AdjEM', 'AdjO ', 'AdjD' , 'AdjT', 'Luck', 'AdjEM', 'OppO', 'OppD', 'AdjEM']
    df.columns = columns
    print(str(year))
    if str(year) not in dicts.keys():
        dicts[str(year)] = df
        df.to_csv(f"{year}_sos_stats.csv")
        print(f'Dict {year} is done.')

2003
Dict 2003 is done.
2004
Dict 2004 is done.
2005
Dict 2005 is done.
2006
Dict 2006 is done.
2007
Dict 2007 is done.
2008
Dict 2008 is done.
2009
Dict 2009 is done.
2010
Dict 2010 is done.
2011
Dict 2011 is done.
2012
Dict 2012 is done.
2013
Dict 2013 is done.
2014
Dict 2014 is done.
2015
Dict 2015 is done.
2016
Dict 2016 is done.
2017
Dict 2017 is done.

In [42]:
info_list = []
dict_cbs = {}
years = ['2016-17', '2015-16', '2014-15', '2013-14', '2012-13', '2011-12', '2010-11', '2009-10', '2008-09','2007-08', '2006-07', '2005-06', '2004-05', '2003-04', '2002-03']

for year in years:

    base_url = f'https://www.cbssports.com/collegebasketball/rankings/sos/{year}'
    print(year)
    info_list = []
    response = requests.get(base_url)
    soup = BeautifulSoup(response.text, 'html.parser')
    data_table = soup.find('table', {"class" : "data"})
    for thing1 in data_table.find_all('tr'):
        cols = thing1.find_all('td')
        if len(cols) != 10:
            continue
        elif len(cols) == 10:
            info_list.append(([cols[num].text.strip() for num in range(0,10)]))
        else: 
            continue
    rankings = np.asarray(info_list)
    df = pd.DataFrame(rankings)
    #rename columns, check output
    df.columns = ['Rank', 'School', 'W-L', 'SOS', 'Opponent Winning Pct.', 'Rank', 'W-L', 'SOS', 'Rank', 'RPI']
    if str(year) not in dicts.keys():
        dict_cbs[str(year)] = df
        df.to_csv(f"{year}_cbs_stats.csv")
        print(f'Dict {year} is done.')

2016-17
Dict 2016-17 is done.
2015-16
Dict 2015-16 is done.
2014-15
Dict 2014-15 is done.
2013-14
Dict 2013-14 is done.
2012-13
Dict 2012-13 is done.
2011-12
Dict 2011-12 is done.
2010-11
Dict 2010-11 is done.
2009-10
Dict 2009-10 is done.
2008-09
Dict 2008-09 is done.
2007-08
Dict 2007-08 is done.
2006-07
Dict 2006-07 is done.
2005-06
Dict 2005-06 is done.
2004-05
Dict 2004-05 is done.
2003-04
Dict 2003-04 is done.
2002-03
Dict 2002-03 is done.

In [34]:
df

,0,1,2,3,4,5,6,7,8
0,Rank,School,W-L,SOS,Opponent Winning Pct.,Rank,W-L,SOS,Rank
1,1,Vanderbilt,19-15,0.6105,0.6391 (1),1,7-6,0.6145,38
2,2,Louisville,24-8,0.6087,0.6330 (2),5,12-1,0.5981,7
3,3,Duke,27-8,0.5979,0.6136 (6),88,12-1,0.5301,6
4,4,Virginia,22-10,0.5968,0.6159 (4),33,10-2,0.5547,18
5,5,Nebraska,11-19,0.5955,0.6186 (3),4,5-6,0.6038,108
6,6,Baylor,24-7,0.5940,0.6147 (5),8,12-0,0.5865,11
7,7,Florida,24-8,0.5934,0.6105 (7),7,10-3,0.5949,10
8,8,Pittsburgh,16-17,0.5927,0.6092 (8),35,11-2,0.5531,74
9,9,Michigan State,19-14,0.5907,0.6072 (11),15,8-5,0.5740,50
10,10,Butler,23-8,0.5904,0.6081 (9),12,11-1,0.5827,15
11,11,North Carolina,26-7,0.5900,0.6029 (13),49,11-2,0.5470,5
12,12,Texas,11-22,0.5893,0.6075 (10),52,6-7,0.5465,157
13,13,Xavier,21-13,0.5870,0.6011 (15),20,10-3,0.5697,37
14,14,Kentucky,29-5,0.5863,0.5994 (17),11,10-3,0.5839,4
15,15,Georgia,18-14,0.5863,0.6033 (12),21,8-4,0.5670,52
16,16,Oklahoma State,19-12,0.5847,0.5998 (16),47,10-2,0.5488,40
17,17,Florida State,25-8,0.5835,0.5974 (19),115,12-1,0.5170,14
18,18,Wake Forest,19-13,0.5831,0.5945 (22),14,9-3,0.5757,39
19,19,Arizona,30-4,0.5817,0.6012 (14),24,11-2,0.5644,2
20,20,Iowa State,23-10,0.5813,0.5936 (23),107,8-4,0.5197,21
21,21,Kansas,28-4,0.5811,0.5868 (28),37,12-1,0.5524,3
22,22,Illinois,17-14,0.5809,0.5961 (20),46,9-3,0.5489,64
23,23,Minnesota,24-9,0.5809,0.5953 (21),27,12-1,0.5604,20
24,24,Stanford,13-17,0.5803,0.5987 (18),3,7-4,0.6045,100
25,25,Villanova,31-3,0.5802,0.5911 (26),41,13-0,0.5499,1
26,26,Tennessee,15-16,0.5791,0.5926 (25),18,7-5,0.5705,82
27,27,Michigan,24-11,0.5789,0.5928 (24),87,10-3,0.5312,25
28,28,Clemson,17-15,0.5762,0.5817 (31),118,10-2,0.5160,68
29,29,Georgetown,14-18,0.5754,0.5883 (27),43,9-4,0.5495,107
...,...,...,...,...,...,...,...,...,...
322,322,Southeastern Louisiana,14-16,0.4350,0.4242 (320),319,5-6,0.4390,249
323,323,St. Francis (N.Y.),3-27,0.4329,0.4206 (325),278,1-11,0.4625,348
324,324,Coppin State,7-23,0.4327,0.4237 (321),81,0-13,0.5332,336
325,325,Northwestern State,9-16,0.4323,0.4114 (335),308,2-5,0.4478,306
326,326,Norfolk State,15-16,0.4312,0.4224 (322),99,1-11,0.5230,242
327,327,Wagner,15-14,0.4306,0.4217 (324),206,3-6,0.4901,245
328,328,Lamar,15-14,0.4301,0.4113 (336),346,4-5,0.4049,232
329,329,Portland State,12-16,0.4301,0.4146 (332),279,4-4,0.4621,268
330,330,Hampton,12-16,0.4291,0.4219 (323),92,1-10,0.5282,284
331,331,Sacred Heart,13-19,0.4290,0.4143 (333),293,5-8,0.4577,304
332,332,Howard,8-24,0.4281,0.4190 (327),85,1-12,0.5321,338
333,333,Savannah State,11-16,0.4270,0.4155 (331),130,1-10,0.5117,279
334,334,Alcorn State,15-14,0.4259,0.4200 (326),29,0-8,0.5601,228
335,335,St. Francis (Pa.),15-16,0.4245,0.4085 (337),313,2-8,0.4429,257
336,336,Arkansas-Pine Bluff,6-24,0.4226,0.4141 (334),164,0-12,0.5013,345
337,337,Alabama State,7-23,0.4210,0.4160 (329),183,1-10,0.4959,342
338,338,LIU-Brooklyn,19-12,0.4160,0.3972 (340),317,6-6,0.4398,224
339,339,Delaware State,8-22,0.4157,0.4055 (338),176,1-12,0.4984,332
340,340,North Carolina A&T,1-29,0.4144,0.4026 (339),238,0-13,0.4806,350
341,341,Cal State Fullerton,15-14,0.4142,0.3868 (342),347,4-7,0.4037,269
342,342,Central Connecticut State,6-23,0.4131,0.3922 (341),341,2-9,0.4171,344
343,343,Jackson State,12-17,0.4007,0.3812 (343),268,2-8,0.4686,322
344,344,Jacksonville,13-15,0.4001,0.3679 (348),351,8-5,0.3579,291
345,345,Southern,13-17,0.3995,0.3799 (345),285,2-8,0.4596,320
346,346,Bethune-Cookman,8-22,0.3978,0.3805 (344),303,1-11,0.4515,346
347,347,Grambling,13-17,0.3972,0.3757 (346),316,2-8,0.4406,318
348,348,Alabama A&M,2-27,0.3932,0.3699 (347),332,0-11,0.4288,351
349,349,Morgan State,13-16,0.3904,0.3647 (349),281,2-10,0.4606,326
350,350,North Carolina Central,22-8,0.3841,0.3542 (351),300,6-5,0.4524,202
351,351,Florida A&M,5-23,0.3821,0.3589 (350),324,0-11,0.4355,349